{% extends 'hsptl/hsptl.html'%}
{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, delectus voluptate? Ipsa animi magni reprehenderit
    impedit delectus velit sed aut doloribus temporibus ducimus cupiditate, ex hic, corrupti libero, ipsam fuga.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolor sequi fugit corporis corrupti modi, harum sit, totam quod provident officiis eius saepe molestiae. Eius perspiciatis at qui ducimus eligendi.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores accusantium repellat, consequuntur magnam quam ea id enim officia, quos nisi at iure distinctio eveniet quo corporis perspiciatis excepturi aperiam sapiente.
</p>
{% endblock %}